@charset "utf - 8";
@import "reset.css";

header {
    background-color: rgb(255, 255, 255);
}

.initial_container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

#initial_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration:overline;
}

.the_three_column_setup {
    display: flex;          
    gap: 20px;               
}

.column {
    flex: 1;                 
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    min-height: 200px; 
    border-radius: 5px;
}

button { 
    color: white;
    background-color: blue;}

.search-bar {
    width: 300px;       
    padding: 8px;       
    border-radius: 4px; 
    border: 1px solid #ccc;
}

.the_three_column_setup {
    margin-top: 20px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
/* i {
    background-color: black;
} */